body {
    color: rgb(43, 80, 131);
    background: rgb(218, 214, 198);
    margin: 1px;
    font-family: "Press Start 2P", system-ui;
    margin-bottom:100px;
}

header{
    border-bottom: solid 2px rgb(170, 47, 89);
    padding: 20px;
    font-size: 35px;
    color:rgb(43, 80, 131);
}

section {
    background: rgb(235, 232, 216);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 20px;
}

img{
    height: 300px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
padding-left: 20px;
padding-right: 20px;
margin-top: 50px;
}

.categoria-videos img {
opacity: 0.5;
height: 200px;
}

.categoria-videos img:hover {
opacity: 1.0;
border: 3px solid rgb(170, 47, 89);
}

.categoria h2 {
color: rgb(201, 47, 104);
}