body {
    color: rgb(43, 80, 131);
    background: rgb(218, 214, 198);
    margin: 1px;
}

header{
    border-bottom: solid 2px rgb(170, 47, 89);
    padding: 20px;
    font-size: 35px;
    color:rgb(43, 80, 131);
}

section {
    background: rgb(235, 232, 216);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
