body {
    color: rgb(43, 80, 131);
    background: black;
    margin: 1px;
}

header{
    border-bottom: solid 2px rgb(170, 47, 89);
    padding: 20px;
    font-size: 30px;
    color:rgb(43, 80, 131);
}